{% load static %}

<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BeoBenere{% endblock %}</title>

    {% comment %} {% load static %} {% endcomment %}
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon-beobenere-green.svg' %}">
    <link rel="alternate icon" href="{% static 'images/favicon-beobenere-green.png' %}">

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header class="site-header">
      <div class="site-header__inner">
        <img src="{% static 'images/logo-beobenere-hbox-white.svg' %}" alt="BeoBenere" class="logo">

        <nav class="site-nav">
          <a href="{% url 'homepage:homepage' %}">Accueil</a>
          <a href="{% url 'service:list' %}">Services</a>
          <a href="#">À propos</a>
        </nav>

        <a href="#" class="btn-contact">Contact</a>
      </div>
    </header>

    {% block content %}
    {% endblock %}
  </body>
</html>
